.dashboardContainer {
    text-align: center;
    padding: 20px;
    background-color: #f8f9fa;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    margin: 30px auto;
}

.dashboardContent {
    margin-top: 20px;
}

.info {
    text-align: left;
    background-color: #ffffff;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);
    margin-bottom: 20px;
}

.info h2 {
    margin-top: 0;
}

.info p {
    margin: 10px 0;
    line-height: 1.5;
}

.requestButton {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.requestButton:hover {
    background-color: #0056b3;
}

.nftsContainer {
    text-align: center;
    padding: 20px;
    background-color: #f8f9fa;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    margin: 30px auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}